@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Source Sans 3', sans-serif;
}

/* navbar starts */

/* top section starts */

header {
    background: #07294d;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1rem 0;
}

/* top-section links */

header .top-header-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .top-header-area ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;

}

header .top-header-area ul li a {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 2rem;
    position: relative;
    transition: all .3s ease-in-out;
    gap: 5px;
}

header .top-header-area ul li a:hover {
    color: #b15110 !important;


}



header .top-header-area ul li a i {
    color: #fff;
    background-color: #b15110;
    border-radius: 50%;
    font-size: 1.2rem;
    transition: all 0.3s ease-in-out;
    padding: 4px;

}

header .top-header-area ul li a {
    color: #fff;
    font-size: 1.2rem;

}

header .top-header-area ul li a:hover {
    color: #fff;
}

/* top header socail links */

header .top-header-socail {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2rem;
    flex-wrap: wrap;
}

header .top-header-socail ul {
    display: flex;
    flex-direction: flex-end;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}

header .top-header-socail ul li {
    margin-left: 2rem;
}

header .top-header-socail ul li a svg {
    /* display: flex; */
    color: #fff;
    font-size: 1.2rem;
    transition: all .75s ease-in-out;
    /* width: 40px;
    height: 40px; */
}

header .top-header-socail ul li a svg:hover {
    transform: rotate3d(1, 2, 3, 360deg);

}

/* top section ends */

/* logo section start */

section.logo-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 1rem 0;
}

section.logo-section .logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 0rem;
    margin-top: 0rem;
    animation: slideInFromLeft 2s ease-in-out;
}

section.logo-section .logo a {
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

section.logo-section .logo img {
    height: 125px;
}

section.logo-section .logo h1 {
    font-size: 3.5rem;
    margin-left: 1rem;
    text-align: center;
    width: auto;
}

section.logo-section .logo h1 span {
    color: #b15110;
}

section.logo-section .logo p {
    font-size: 1rem;
    margin-left: 1rem;
}

section.logo-section .logo p span {
    color: #b15110;
}

/* logo section links */

section.logo-section .links {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    margin-right: 2rem;
    animation: slideInFromRight 2s ease-in-out;

}

section.logo-section .links ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-direction: flex-end;
    list-style: none;
    margin-bottom: 1rem;
}

section.logo-section .links ul li {
    margin: 5px;
    padding: 5px;
    max-width: 216px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
    transition: all 0.3s ease-in-out;
}

section.logo-section .links ul li a {
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    font-size: 20px;
    padding: 2px;
    font-weight: bold;
}

section.logo-section .links ul li:hover {
    transform: scale(1.1);
}

/* main nav starts */

nav {
    display: flex;
    flex-wrap: wrap;
    background: #07294d;
    color: white;

}

nav.navbar svg.humburger {
    display: none;
}

nav.navbar ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    transition: all 0.3s ease-in-out;
}

nav.navbar ul li {
    text-decoration: none;
    list-style: none;
    /* border-right: 6px solid #b15110; */
    padding: 5px 10px;
    transition: all 0.3s ease-in-out;
}

/* vertical line after each li */



nav.navbar ul li:not(:first-child)::before {
    content: '';
    width: 0;
    position: relative;
    border: 2px solid white;
    top: 0;
    bottom: 0;
    right: 2px;
    /* left: 100px; */

}

nav.navbar ul li:first-child::after {
    border: none;
}

nav.navbar ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px;
    transition: all 0.3s ease-in-out;
}


nav.navbar ul li a:hover {
    color: #b15110;
}

nav.navbar ul li a {
    font-size: x-large;
    margin-right: 5px;
    color: white;
    align-items: center;
    position: relative;
    /* margin: 10px 2px; */

}

nav.navbar ul li a :hover {
    color: #b15110;
}

nav.navbar ul li button {
    background: #b15110;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

nav.navbar ul li button:hover {
    background: #fff;
    color: #b15110;
}

/* main nav ends */

/* responsive */

@media only screen and (max-width: 850px) {

    header {
        display: none;
    }

    section.logo-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    section.logo-section .logo a {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    section.logo-section .logo img {
        height: 125px;
    }

    section.logo-section .logo h1 {
        font-size: auto;
        margin-left: 1rem;
        text-align: center;
        width: auto;
    }

    section.logo-section .logo h1 span {
        color: #b15110;
    }

    section.logo-section .logo p {
        font-size: 1rem;
        margin-left: 1rem;
    }

    section.logo-section .logo p span {
        color: #b15110;
    }

    section.logo-section .links {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        margin-left: 2rem;
        animation: slideInFromRight 2s ease-in-out;

    }

    nav.navbar {
        display: flex;
        flex-wrap: wrap;
        background: #57294d;
        color: white;
    }

    nav.navbar svg.humburger {
        display: block;
    }


    nav.navbar ul {
        display: none;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: left;
        align-items: center;
        text-align: left;
        width: 100%;
        opacity: 0;
        transition: opacity 1s ease-in-out;
    }

    nav.navbar ul.active {
        display: flex;
        opacity: 1;
        transition: opacity 1s ease-in-out;
    }

    nav.navbar ul li {
        display: flex;
        border: none;
        width: 100%;
        /* margin: 0; */
        padding: 0.45rem 1.2rem;
    }

    nav.navbar ul li:not(:first-child)::before {
        content: '';
        width: 0;
        position: relative;
        border: none;
        top: 0;
        bottom: 0;
        right: 2px;
        left: -2px;
        /* left: 100px; */

    }

    nav.navbar ul li:first-child {
        margin-bottom: -20px;
        padding-left: 18px;
    }

    nav.navbar ul li a {
        font-size: 1.2rem;
        margin-right: 5px;
        color: white;
        align-items: center;
        position: relative;
        /* margin: 10px 2px; */

    }

    nav.navbar ul li a :hover {
        color: #b15110;
    }


    nav.navbar ul li button {
        position: absolute;
        background: #d15110;
        justify-content: flex-end;
        right: 1rem;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: bold;
        transition: all 0.3s ease-in-out;
    }

    nav.navbar ul li button span {
        display: none;
    }

    nav.navbar ul li button:hover {
        background: #fff;
        color: #b15110;
    }

}


@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}